<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="Microsoft.SDKSamples.MarbleMazeWinRT.CPP" Publisher="CN=Wisenheimer Brainstorm" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="bc04fad1-e353-47aa-ab0f-2a814e7d7d7f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DirectX Marble Maze game C++ sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation (ported to WinRT by ata6502)</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DirectXApplication.App">
      <uap:VisualElements DisplayName="DirectX Marble Maze game C++ sample (C++/WinRT)" Description="DirectX Marble Maze game C++ sample ported to C++/WinRT" BackgroundColor="transparent" Square44x44Logo="Assets\AppIcon.png" Square150x150Logo="Assets\MediumTile.png">
        <uap:DefaultTile ShortName="DirectX Marble Maze game C++" Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
        <uap:SplashScreen Image="Assets\SplashScreen.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient"/></Capabilities>
</Package>